* {
    margin: 0;
    color: #ceedf6;
}

html, body {
    background-color: #191932;
    height: 95%;
}

button, input, select {
    background-color: #2a2a54;
}

#dialogueOutput {
    word-break: break-all;
}

textarea {
    background-color: #191932;
    width: 90%;
}

.mainview {
    width: 100%;
    text-align: center;
    background-color: #2a2a54;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -50px; 
}
.page-wrap:after {
    content: "";
    display: block;
}

.footer, .page-wrap:after {
    height: 50px; 
}

.footer{
    background-color: #2a2a54;
    color: #ceedf6;
    width: 100%;
    text-align: center;
}

.collapsible {
    background-color: #2a2a54;
    color: #ceedf6;
    cursor: pointer;
    padding: 9px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #2a2a54;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #343468;
}