* {
    margin: 0;
    color: #ceedf6;
}

html, body {
    background-color: #191932;
    height: 95%;
}

button, input, select {
    background-color: #2a2a54;
}

textarea {
    background-color: #191932;
}

#dialogueOutput {
    word-break: break-all;
}

.centre {
    margin: auto;
    text-align: center;
    display: block;
}

.maininput {
    width: 90%;
}

.dictentry {
    width: 60%;
}

.mainview {
    width: 100%;
    text-align: center;
    background-color: #2a2a54;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.big {
    font-size: 20px;
}

.bigger {
    font-size: 24px;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: 0px; 
}
.page-wrap:after {
    content: "";
    display: block;
}

.footer, .page-wrap:after {
    height: 50px; 
}

.footer{
    background-color: #2a2a54;
    color: #ceedf6;
    width: 100%;
    text-align: center;
}

.collapsible {
    background-color: #2a2a54;
    color: #ceedf6;
    cursor: pointer;
    padding: 9px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    position: relative;
    margin: 0px;
}

.active, .collapsible:hover {
    background-color: #3a3a6c;
}

.content {
    padding: 5px 18px;
    display: none;
    overflow: hidden;
    background-color: #343468;
}

.visible-content {
    padding: 5px 18px;
    display: block;
    overflow: hidden;
    background-color: #343468;
}

.image {
    margin: 2px;
    border: 1px solid #ccc;
    float: left;
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
  }
  
.image:hover {
    border: 1px solid #777;
}

.image img {
    width: 100%;
    height: auto;
}

.image:hover .delete {
    display: block;
}

.image:hover .select {
    display: block;
}

.selected {
    border: 1px solid #bebeeb;
}

.wrapper {
    width: 80%;
    overflow: hidden; /* add this to contain floated children */
}
.left {
    float: left;
    width: 70%;
}
.right {
    float: right;
}

.delete {
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 4px;
    background: rgba(140, 140, 180, 0.5);
    padding: 0px 0px 1px 1px;
    display: none;
}

.select {
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-radius: 4px;
    background: rgba(140, 140, 180, 0.5);
    padding: 0px 0px 1px 1px;
    display: none;
    width: 20px;
    height: 20px;
}

.select:checked {
    display: block;
}

.gallery {
    
}

.deletegroup {
    position: absolute;
    right: 10px;
    top: 9px;
    border-radius: 4px;
    background: #343468;
    padding: 0px 0px 1px 1px;
    display: block;
    cursor: pointer;
}

.renamegroup {
    position: absolute;
    right: 40px;
    top: 9px;
    border-radius: 4px;
    background: #343468;
    padding: 0px 0px 1px 1px;
    display: block;
    cursor: pointer;
}

.ui-widget-header {
    background: #2a2a54;
}

.ui-widget-content {
    background: #343468;
}

#groupselect{
    width: 268px;
}

#group_change_name {
    width: 260px;
}